@charset "UTF-8";


@font-face {
    font-family: 'grande';
    src: url('../fonts/MagnaBlackcondensed-Rpv4M.otf') format(opentype);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'grande2';
    src: url('../fonts/DenseLetters-nRgDO.otf') format(opentype);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'text1';
    src: url('../fonts/LicensePlate.ttf') format(truetype);
}

@font-face {
    font-family: 'text2';
    src: url('../fonts/Trueno-75PE.otf');
}

@font-face {
    font-family: 'text3';
    src: url('../fonts/Righteous-j7av.ttf');
}

:root {


    --font1: 'grande';
    --font2: 'grande2';
    --font3: 'text1';
    --font4: 'text2';
    --font5: 'text3';
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    width: 100vw;
    
    overflow-x: hidden;
}

body {
    width: 100vw;
    
    background-color: rgb(0, 0, 0);
    background-image: url('../img/pexels-sr-solo-2917871.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
    
}

#corpo {
    transition: .4s linear;
}

header{
    position: sticky;
    top: 0px;
    z-index: 1;

}

nav{
    background-color: rgba(0, 0, 0, 0.614);
    padding: 10px;
    position: sticky;
    top: -1px;
}

#telanav2 {
    display: none;
}

i#menu {
    color: aliceblue;
    padding: 0px 5px;
    cursor: pointer;
}

abbr {
    cursor: pointer;
}

i#menu2 {
    color: aliceblue;
    padding: 0px 5px;
    float: right;
    cursor: pointer;
}

main {
    background-image: linear-gradient(to top, black, rgba(0, 0, 0, 0.474));
    background-attachment: fixed;
    
    width: 100vw;
    padding-bottom: 100px;
    margin: auto;
}

main > section > p {
    padding-left:15px;
    color: white;
    width: 95vw;
    text-indent: 20px;
    text-align: justify;
}

#titulo {
    width: fit-content;
    padding: 15px 0px;
    padding-left: 15px;
    color: white;
    font-size: 15vw;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #000;
    font-family: grande, Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
    
}




#sobremim {
    
    background-color: #3e2f259c;
    width: 90vw;
    margin: 0px auto;
    margin-top: 30px;
    border-radius: 20px;
    padding: 10px;
    height: max-content;
    transition: height 1s ease;

}

#sobremim > h1 {
    color: white;
    font-family: grande2, 'Courier New', Courier, monospace;
    font-size: 2em;

}



#sobremim > p {
    width: 100%;
    padding: 5px;
    color: white;
    font-family:var(--font5) , Verdana, sans-serif;
    
}


#perfil {
    width: 150px;
    margin:8px ;
    float: right;
    border: 2px solid black;
    background-color: #ffffff;
    border-radius: 10px;
}

#completo {
    visibility: hidden;
    height: 1px;
    
    
}

#vermais {
    text-align: center;
    background-color: rgb(116, 82, 9);
    padding: 0;
    margin: 0;
    width: 100%;
    cursor: pointer;
    display: grid;
    
    
}

#vermais > p {
    color: white;
    padding: 0px;
    margin: 0px;
    height: fit-content;
    font-family: var(--font5);
    
    
}

#vermais > i {
     color: white;
     
     
     
}

#arrowup {
    display: none;
}

#vermais:hover {
    background-color: rgb(79, 56, 6);
}

#vermais:hover > i {
    animation: headShake 2s ease;
    animation-delay: 100ms;
    animation-fill-mode: backwards;
    
}

/*Hover não está funcionando pq #incom e #completo* não estão dentro de #vermais
faça usando javascript
*/

#vermais:hover > #incom {
    height: 1px; 
    visibility: hidden;
    


}

#vermais:hover > #completo {
    visibility: visible;
    opacity: initial;
    height: 500px;
}

/*Hover não está funcionando pq #incom e #completo* não estão dentro de #vermais
faça usando javascript
*/


#meusprojetos {
    justify-items: center;
    width: 90vw;
    background-color: #3e2f259c;
    margin: 0px auto;
    margin-top:30px ;
    border-radius: 20px;
    padding: 10px;
    
}

#meusprojetos > h1 {
    color: white;
    font-family: grande2, 'Courier New', Courier, monospace;
    font-size: 2em;
    padding: 10px;
}



.sec1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    
    
    
}

.sec2 {
    display: none;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.sec  i {
    width: fit-content;
    color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
}

#setaleft {
    margin-left: auto;
}

.sec img {
    width: 65px;
    align-content: space-between;
    margin: 0px 10px;
    border-radius: 20px;
    transition: opacity 0.3s ease; /* Adiciona uma transição suave */
    opacity: 1; /* Opacidade total inicialmente */
    cursor: pointer;
    border: 2px solid black;
    
}

.sec img:hover {
    opacity: 0.5;
    width: 70px;
    margin: 0px 8px;
}

#select {
    border: 2px solid gainsboro !important; 
    width: 70px !important;
    margin: 0px 8px !important;
}

.projs {
    width: 50%;
    margin: auto;
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -moz-overflow-scrolling: touch;
}



.mostrarimg {
    margin-top: 20px;
    background-color:#3e2f25ff;
    width: 80%;
    border-radius: 20px 20px 20px 20px;
    padding-bottom: 10px;
}

.mostrarimg  img {
    width: 100%;
    display: flex;
    margin: auto;
    border-radius: 20px 20px 0px 0px;
    border: 1px solid gainsboro;
}

.mostrarimg h2 {
    color: black;
    background-color:rgb(79, 56, 6) ;
    padding: 5px;
    text-align: center;
    font-family: var(--font2);
    font-size: 1em;
    margin: 10px 0px;
}

.mostrarimg p {
    color: #000;
    font-family: var(--font5);
    padding: 0px 10px;
    
}

#verdemo {
    width: fit-content;
    background-color: rgba(220, 220, 220, 0.585);
    color:#2c221b ;
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
    cursor: pointer;

}

#verdemo:hover {
    background-color: rgb(220, 220, 220);
    color:rgb(79, 56, 6) ;
}

#barberscard {
    display: block;
}

.mostrarimg > div {
    display: none;
}





#teste {
    display: none;
}



#redessociais {
    width: 90vw;
    
    background-color: #3e2f259c;
    margin: 0px auto;
    margin-top:30px ;
    border-radius: 20px;
    padding: 10px;
    
}

#redessociais > h1 {
    color: white;
    font-family: grande2, 'Courier New', Courier, monospace;
    font-size: 2em;
    padding: 10px;
    text-align: center;
}

#redes {
    
    display: flex;
    justify-content: center;
}

#redes img {
    width: 100px;
    border-radius: 30px;
    padding: 10px;
    
}

#navigatortop {
    background-color: #3e2f259c;
    width: 50px;
    border-radius: 0px 0px 50% 50%;
    margin: 10px auto;
    display: flex;
    
}

#navigatortop  i {
    font-size: 3em;
    color: white;
}

.anjo {
    width: 1px;
}

#anjinho {
    
    width: 200px;
    margin-left: -50px;
    margin-bottom: -20px;
    cursor: pointer;
}

#anjinho:hover {
    width: 210px;
}

@media screen and (min-Width:845px) {

    nav{
        background-color: rgba(0, 0, 0, 0.614);
        padding: 10px;
        position: sticky;
        top: -1px;
        font-size: 2vw;
        
    }

    #telanav1 {
        display: none;
    }

    #telanav2 {
        display: block;
    }

    #telanav2 > a {
        text-decoration: none;
        color: white;
        margin: 0px 10px;
        font-family: grande2;
        
    }

    #telamenu {
        float: right;
        margin: 0px;
        font-family: grande2;
        
    }

    #sobremim {
        height: 300px;
    }

    #perfil {
        width: 230px;
        padding: 5px;
        float: right;
        border: 2px solid black;
        background-color: #ffffff;
        border-radius: 10px;
    }

    #meusprojetos {
        width: 80%;
    }

    #meusprojetos > h1 {
        text-align: center;
    }


    }





@media screen and (min-Width:1200px) {
    


    main > section > p {
        width: 60vw;
        font-size: 1.5em;
        text-align: right;
        position: relative;
        left: 38vw;
        
        
    }

    #aviso {
        position: initial;
        text-align: center;
    }

    #imghair {
        width: 30%;
    }

    #meusprojetos {
        width: 60vw;
    }

    
    
}